@use '../utils/indexUtils' as *;

html, body {
  overflow-x: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: #{$font-size-default}px;
  background: $color-bg-primary;
  color: $color-text-primary;
  overflow-y: auto;
  height: 100%;
  min-height: -webkit-fill-available;
  position: relative;
}

.o-hidden {
  overflow-y: hidden;
}

.container {
  margin: 0 em(15);
  max-width: em(350);
  width: 100%;
}

* {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  //background: $color-white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
