@use '../utils/indexUtils' as *;


.btn {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: em(10);

  &:hover {
    background: $color-map-secondary-line;
  }
}
