@use '../utils/indexUtils' as *;

.layout {
  &__resize {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
  }
  &__main {
    display: flex;
    flex: 1 1 auto;
  }

  &__header {
    background: $color-bg-secondary;
    height: em(50);
  }

  &__footer {
  }

  &__page {
    width: 100%;
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}
